/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

div.apptitle {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

input.searchbox {
    width: 80%;
}

input.prevalencebox {
    width: 40%;
}

p.small-text {
    font-size: 14px;
}

p.bold-text {
    font-weight: bold;
}


